:root{
    /* COLORS */
    /* Primary */
    --Orange: hsl(25, 97%, 53%);
    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Light_Grey: hsl(217, 12%, 63%);
    --Medium_Grey: hsl(216, 12%, 54%);
    --Medium_Grey_transparent: hsla(216, 12%, 54%, 0.219);
    --Dark_Blue: hsl(213, 19%, 18%);
    --Very_Dark_Blue: hsl(216, 12%, 8%);
}

*{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    color: var(--White);
    font-family: 'Overpass';
}
body{
    display: grid;
    padding: 20px;
    min-height: 70vh;
    place-items: center;
    background-color: var(--Very_Dark_Blue);
}
.container{
    margin: auto;
    padding: 20px;
    max-width: 370px;
    border-radius: 15px;
    background-color: var(--Dark_Blue);
    h1{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .fillingText{
        opacity: 0.6;
        margin-bottom: 20px;
    }
    .start{
        display: flex;
        flex-direction: column;
        .starDiv{
            width: 40px;
            height: 40px;
            display: grid;
            border-radius: 50%;
            margin-bottom: 18px;
            place-content: center;
            background-color: var(--Medium_Grey_transparent);
        }
        .raitings{
            display: flex;
            justify-content: space-between;
            .raiting{
                border: 0;
                width: 40px;
                height: 40px;
                display: grid;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: var(--Medium_Grey_transparent);
            }
            .raiting:hover{
                background-color: var(--Medium_Grey);
            }
            .raiting:focus {
                background-color: var(--Orange);
            }
        }
        .submit{
            border: 0;
            padding: 10px;
            margin-top: 20px;
            border-radius: 50px;
            background-color: var(--Orange);
            
        }
        .submit:hover{
            opacity: 0.8;
            color: var(--Orange);
            background-color: var(--White);
        }
    }
    .end{
        display: none;                      /* It loads as invisible */
        align-items: center;
        flex-direction: column;
        img{
            max-width: 40%;
            padding-top: 6px;
            padding-bottom: 20px;
        }
        .result{
            padding: 5px;
            margin-bottom: 25px;
            border-radius: 50px;
            padding-inline: 10px;
            background-color: var(--Medium_Grey_transparent);
            
        }
        .result, #picked {color: var(--Orange);}
        .fillingText{text-align: center;}
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { font-size: 14px; color: var(--Orange); }

@media only screen and (min-width: 600px){
    body{
        min-height: 100vh;
    }
}